
.container {
    display: flex;
    /* justify-content: space-between; */
    /* justify-content: flex-start; */
    /* align-items: center; */
}

.machineItems {
    /* width: 500px; */
    /* display: flex; */
    /* flex-direction: row; */
    flex-wrap: wrap;
}

.codeBox {
    /* width: 500px; */
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    margin-top: 2px;
    box-shadow: 2px 2px 2px 2px;
    border-radius: 5px;
}

.displayScreen {
    width: 500px;
    height: 350px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
    margin-top: 3px;
    box-shadow: 2px 2px 2px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.msgDisplay {
    width: 450px;
    height: 150px;
    border: 1px solid black;
    background-color: black;
    color: white;
    border-radius: 5px;
    text-align: center;
    margin-top: 3px;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
}

.msgDisplay::-webkit-scrollbar {
    width: 5px;
}

.msgDisplay::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.msgDisplay::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 50px;
}

.itemsBox {
    width: 490px;
    margin-top: 3px;
    height: 150px;
    border: 1px solid black;
    margin-left: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;

}

.takeItems {
    /* font-size: 1.3em; */
    /* margin: 25px 15px 0 15px; */
    border: 1px solid black;
    background-color: black;
    height: 200px;
    width: 480px;
    padding: 5px;
    text-align: center;
    /* background-color: TOMATO; */
    color: white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px;
    overflow: auto;
}

.takeItems::-webkit-scrollbar {
    width: 5px;
}

.takeItems::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.takeItems::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 50px;
}

/* .purchaseBtn {
    font-size: 1.2em;
    margin: 10px 10px;
    padding: 5px;
    text-align: center;
    background-color: Green;
    color: white;
    width: 200px;
    border-radius: 50px;
} */


/* .takeItems, .purchaseBtn:hover {
    cursor: pointer;
} */